.hero {
    background: #fff;
    display: flex;
    align-items: center;
}

.texto {
    width: 100%;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 200px;
    font-weight: bold;

    background-image: url(../../../public/img/FloresHero.jpg);
    background-size: cover;
    background-position-y: center;

    background-clip: text;
}

@media screen and (max-width: 992px){
    .texto {
        font-size: 150px;
    }
}

@media screen and (max-width: 768px){
    .texto {
        font-size: 100px;
    }
}

@media screen and (max-width: 576px){
    .texto {
        font-size: 75px;
    }
}