.hero {
    background: #fff;
    display: flex;
    min-height: 50vh;
    align-items: center;
}

.texto {
    width: 100%;
    color: transparent;
    text-align: center;
    text-transform: uppercase;
    font-size: 200px;
    font-weight: bold;

    background-image: url(../../../public/img/FloresHero.jpg);
    background-size: cover;
    background-position-y: center;

    background-clip: text;
}