.hello{
    background-image: url(../../../public/img/FiodoraBannerBN.jpg); 
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 50vh;
    display: flex;
    border-radius: 8px;
  }

.divMargin {
  margin: auto;
  vertical-align: middle;
  text-align: center;
}